<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rdcx.randian">

    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 阅读消息 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 写入消息 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- 接收消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 必选 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 个推SDK权限配置开始 -->
    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.com.rdcx.randian" />

    <permission
        android:name="getui.permission.GetuiService.com.rdcx.randian"
        android:protectionLevel="normal" />

    <!-- 个推SDK权限配置结束 -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/randian"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="567bafa967e58e042000258e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_NAME}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="567bafa967e58e042000258e" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="ca75bf8c7dcd62716ba8e08cb9092f47" />

        <!-- 个推配置 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="59AylDYLNb73ewaAQtSJL6" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="Sc3tshbsTj95ytRflTpKtA" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="Bgvpe6o1BKAigDOHShU7h" />

        <!-- 高德key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8dfb56c397e614fcc888bb8572734e1e" />

        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="randianweilai.rdwl.com"
                    android:pathPrefix="/welcome"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <!-- 友盟自動更新 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟自動更新 -->
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BlankActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".RegisteredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdatePswActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateUserInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountSafeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountSmsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="clipheadphoto.ClipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VersionUpdate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebHtmlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiaryEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiaryShow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlbumChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageZoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReleaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaskUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TaskFinishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--微博分享类-->
        <activity
            android:name=".MyWeiBoShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetLocationActivity"
            android:screenOrientation="portrait" />

        <!-- qq第三方 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105043040" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <!-- 微博登陆 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name="com.rdcx.service.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.rdcx.service.MainService"
            android:enabled="true" />
        <service
            android:name="com.rdcx.service.BackupService"
            android:enabled="true" />

        <!-- 友盟推送服务 -->
        <!-- 监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />

        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>

        <!-- 监听注册的广播 -->
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.rdcx.randian.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Umeng的长连服务，用来建立推送的长连接的 -->
        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push">
            <intent-filter>
                <action android:name="com.rdcx.randian.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.rdcx.randian.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>

        <!-- Umeng的消息接收服务 -->
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />

        <!-- Umeng的消息路由服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>

        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        <!-- 友盟推送服务结束 -->


        <!-- 个推配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" />
        <service
            android:name="com.igexin.sdk.PushServiceUser"
            android:exported="true"
            android:label="NotificationCenterUser" />

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.rdcx.randian"
            android:exported="true"
            android:process=":pushservice" />

        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <action android:name="com.igexin.sdk.action.59AylDYLNb73ewaAQtSJL6" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />
    </application>

</manifest>
